<!DOCTYPE html>
<html>
  <head>
    <title>{{card_type}} Sets</title>
    <meta name="date" content="2010-12-03 10:20" />
    <meta name="category" content="Sets" />
    <meta name="summary" content="{{card_type}}" />
  </head>
  <body>
    <div class="fh5co-narrow-content">
      {% for source, value in set_dict %}
      {% if value|length > 0 %}
      <div>
        <h1>{{ source }}</h1>
        <div class="row">
          {% for set, set_link, image_path in value %}
          <div class="col-6 col-md-4 col-lg-3">
              <h4 class="text-center">
              <a href="{{SITEURL}}/tag/{{set_link}}.html" class="text-reset text-decoration-none">{{set}}</a></h4>
              <a href="{{SITEURL}}/tag/{{set_link}}.html">
                  <img class="img-fluid" src="{{image_path}}" alt="{{set}}"/>
              </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
